* {
	padding: 0;
	margin: 0;
}

h1 {
	width: 600px;
	height: 300px;
	position: absolute;
	margin: 0 auto;
	font-size: 130px;
	padding-top: 200px;
	opacity: 0.3;
	font-family: 'Six Caps', sans-serif;
	z-index: 1;
}

h3 {
	position: absolute;
	width: 150px;
	margin-top: 80px;
	margin-left: 1em;
	font-size: 1.55em;
	opacity: 0;
	font-family: 'Dawning of a New Day', cursive;
	z-index: 1;
}

h3:hover {
	background: #FF9981;
	opacity: 0.8;
	color: #000;
	border-radius: 100%;
}

#cas2 h3, #cas6 h3 {
	margin-top: 40px;
}

#cas3 h3, #cas4 h3, #cas5 h3 {
	margin-top: 60px;
}

#container {
	width: 600px;
	height: 600px;
	margin: 0 auto;
	text-align: center;
	position: relative;
}

.caja {
/*	margin: -2px;
	display: inline-block;*/
	width: 200px;
	height: 200px;
}

.pos {
	background-position: center;
}

#cas1 {
	background-image: url(../img/1.png);
	background-position: 10% 30%;
	position: absolute;
	top: 0;
	left: 0;
}

#cas2 {
	background-image: url(../img/2.png);
	position: absolute;
	left: 33.3%;
}

#cas3 {
	background-image: url(../img/3.png);
	background-position: 20% 40%;
	position: absolute;
	top: 0;
	right: 0;
}

#cas4 {
	background-image: url(../img/4.png);
	position: absolute;
	top: 33.3%;
	left: 0;
}

#cas5 {
	background-image: url(../img/5.png);
	position: absolute;
	background-position: 60% 30%;
	top: 33.3%;
	left: 33.3%;
}

#cas6 {
	background-image: url(../img/6.png);
	position: absolute;
	top: 33.3%;
	right: 0;
}

#cas7 {
	background-image: url(../img/7.png);
	position: absolute;
	bottom: 0;
	left: 0;
}

#cas8 {
	background-image: url(../img/8.png);
	position: absolute;
	left: 33.3%; 
	bottom: 0;
}

#cas9 {
	background-image: url(../img/9.png);
	position: absolute;
	bottom: 0;
	right: 0;
}